mixin action(preview,full)
    if preview
        .action__box
            .action__inner
                .action
                    .action__image
                        img.lazy(data-src=img+"actions/action_1.png")
                    .action__content
                        .action__date До 15 февраля 2021 года
                            <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.85547 0.802246C6.48348 0.802246 6.14224 1.02627 5.96964 1.3838L0.469638 12.7764C0.307265 13.1127 0.318741 13.5167 0.499897 13.8415C0.681054 14.1664 1.00553 14.3648 1.35547 14.3648H7.05826L4.88839 23.3113C4.77153 23.7931 4.97214 24.2994 5.37484 24.5388C5.77754 24.7783 6.2788 24.6894 6.59027 24.3233L18.5903 10.2182C18.8597 9.90156 18.9308 9.44191 18.7715 9.04713C18.6122 8.65235 18.2527 8.39729 17.8555 8.39729H12.4129L16.6418 2.55759C16.8783 2.23098 16.9222 1.78653 16.7549 1.41296C16.5875 1.03938 16.2383 0.802246 15.8555 0.802246H6.85547Z" fill="#E62F68"/>
                            </svg>
                        .action__title Скидка 10%
                        .action__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм...
                .action
                    .action__image
                        img.lazy(data-src=img+"actions/action_2.png")
                    .action__content
                        .action__date До 15 февраля 2021 года
                            <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.85547 0.802246C6.48348 0.802246 6.14224 1.02627 5.96964 1.3838L0.469638 12.7764C0.307265 13.1127 0.318741 13.5167 0.499897 13.8415C0.681054 14.1664 1.00553 14.3648 1.35547 14.3648H7.05826L4.88839 23.3113C4.77153 23.7931 4.97214 24.2994 5.37484 24.5388C5.77754 24.7783 6.2788 24.6894 6.59027 24.3233L18.5903 10.2182C18.8597 9.90156 18.9308 9.44191 18.7715 9.04713C18.6122 8.65235 18.2527 8.39729 17.8555 8.39729H12.4129L16.6418 2.55759C16.8783 2.23098 16.9222 1.78653 16.7549 1.41296C16.5875 1.03938 16.2383 0.802246 15.8555 0.802246H6.85547Z" fill="#E62F68"/>
                            </svg>
                        .action__title Скидка 10%
                        .action__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм...
                .action
                    .action__image
                        img.lazy(data-src=img+"actions/action_3.png")
                    .action__content
                        .action__date До 15 февраля 2021 года
                            <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.85547 0.802246C6.48348 0.802246 6.14224 1.02627 5.96964 1.3838L0.469638 12.7764C0.307265 13.1127 0.318741 13.5167 0.499897 13.8415C0.681054 14.1664 1.00553 14.3648 1.35547 14.3648H7.05826L4.88839 23.3113C4.77153 23.7931 4.97214 24.2994 5.37484 24.5388C5.77754 24.7783 6.2788 24.6894 6.59027 24.3233L18.5903 10.2182C18.8597 9.90156 18.9308 9.44191 18.7715 9.04713C18.6122 8.65235 18.2527 8.39729 17.8555 8.39729H12.4129L16.6418 2.55759C16.8783 2.23098 16.9222 1.78653 16.7549 1.41296C16.5875 1.03938 16.2383 0.802246 15.8555 0.802246H6.85547Z" fill="#E62F68"/>
                            </svg>
                        .action__title Скидка 10%
                        .action__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм...
                .action
                    .action__image
                        img.lazy(data-src=img+"actions/action_4.png")
                    .action__content
                        .action__date До 15 февраля 2021 года
                            <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.85547 0.802246C6.48348 0.802246 6.14224 1.02627 5.96964 1.3838L0.469638 12.7764C0.307265 13.1127 0.318741 13.5167 0.499897 13.8415C0.681054 14.1664 1.00553 14.3648 1.35547 14.3648H7.05826L4.88839 23.3113C4.77153 23.7931 4.97214 24.2994 5.37484 24.5388C5.77754 24.7783 6.2788 24.6894 6.59027 24.3233L18.5903 10.2182C18.8597 9.90156 18.9308 9.44191 18.7715 9.04713C18.6122 8.65235 18.2527 8.39729 17.8555 8.39729H12.4129L16.6418 2.55759C16.8783 2.23098 16.9222 1.78653 16.7549 1.41296C16.5875 1.03938 16.2383 0.802246 15.8555 0.802246H6.85547Z" fill="#E62F68"/>
                            </svg>
                        .action__title Скидка 10%
                        .action__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм...
                .action
                    .action__image
                        img.lazy(data-src=img+"actions/action_5.png")
                    .action__content
                        .action__date До 15 февраля 2021 года
                            <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.85547 0.802246C6.48348 0.802246 6.14224 1.02627 5.96964 1.3838L0.469638 12.7764C0.307265 13.1127 0.318741 13.5167 0.499897 13.8415C0.681054 14.1664 1.00553 14.3648 1.35547 14.3648H7.05826L4.88839 23.3113C4.77153 23.7931 4.97214 24.2994 5.37484 24.5388C5.77754 24.7783 6.2788 24.6894 6.59027 24.3233L18.5903 10.2182C18.8597 9.90156 18.9308 9.44191 18.7715 9.04713C18.6122 8.65235 18.2527 8.39729 17.8555 8.39729H12.4129L16.6418 2.55759C16.8783 2.23098 16.9222 1.78653 16.7549 1.41296C16.5875 1.03938 16.2383 0.802246 15.8555 0.802246H6.85547Z" fill="#E62F68"/>
                            </svg>
                        .action__title Скидка 10%
                        .action__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм...
                .action
                    .action__image
                        img.lazy(data-src=img+"actions/action_6.png")
                    .action__content
                        .action__date До 15 февраля 2021 года
                            <svg width="19" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.85547 0.802246C6.48348 0.802246 6.14224 1.02627 5.96964 1.3838L0.469638 12.7764C0.307265 13.1127 0.318741 13.5167 0.499897 13.8415C0.681054 14.1664 1.00553 14.3648 1.35547 14.3648H7.05826L4.88839 23.3113C4.77153 23.7931 4.97214 24.2994 5.37484 24.5388C5.77754 24.7783 6.2788 24.6894 6.59027 24.3233L18.5903 10.2182C18.8597 9.90156 18.9308 9.44191 18.7715 9.04713C18.6122 8.65235 18.2527 8.39729 17.8555 8.39729H12.4129L16.6418 2.55759C16.8783 2.23098 16.9222 1.78653 16.7549 1.41296C16.5875 1.03938 16.2383 0.802246 15.8555 0.802246H6.85547Z" fill="#E62F68"/>
                            </svg>
                        .action__title Скидка 10%
                        .action__text Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм...