mixin article()
    .article__wrapper
        .article__box
            a(href="/").article
                .article__image
                    img(src=img + "/articles/article_1.jpg", alt="")
                .article__content
                    .article__published Опубликовано 20 января 2021
                    .article__title Как выбрать попугая?
                    .article__text Скидка по данной карте действует на аксессуары, заказанные на...
            a(href="/").article
                .article__image
                    img(src=img + "/articles/article_2.jpg", alt="")
                .article__content
                    .article__published Опубликовано 20 января 2021
                    .article__title Проблемы в кормлении кошек
                    .article__text Скидка по данной карте действует на аксессуары, заказанные на...
            a(href="/").article
                .article__image
                    img(src=img + "/articles/article_3.jpg", alt="")
                .article__content
                    .article__published Опубликовано 20 января 2021
                    .article__title Как выбрать попугая?
                    .article__text Скидка по данной карте действует на аксессуары, заказанные на...
            a(href="/").article
                .article__image
                    img(src=img + "/articles/article_4.jpg", alt="")
                .article__content
                    .article__published Опубликовано 20 января 2021
                    .article__title Как выбрать собаку?
                    .article__text Скидка по данной карте действует на аксессуары, заказанные на...
            a(href="/").article
                .article__image
                    img(src=img + "/articles/article_5.jpg", alt="")
                .article__content
                    .article__published Опубликовано 20 января 2021
                    .article__title Как выбрать попугая?
                    .article__text Скидка по данной карте действует на аксессуары, заказанные на...
            a(href="/").article
                .article__image
                    img(src=img + "/articles/article_6.jpg", alt="")
                .article__content
                    .article__published Опубликовано 20 января 2021
                    .article__title Проблемы в кормлении кошек
                    .article__text Скидка по данной карте действует на аксессуары, заказанные на...
            a(href="/").article
                .article__image
                    img(src=img + "/articles/article_7.jpg", alt="")
                .article__content
                    .article__published Опубликовано 20 января 2021
                    .article__title Как выбрать попугая?
                    .article__text Скидка по данной карте действует на аксессуары, заказанные на...
            a(href="/").article
                .article__image
                    img(src=img + "/articles/article_8.jpg", alt="")
                .article__content
                    .article__published Опубликовано 20 января 2021
                    .article__title Как выбрать собаку?
                    .article__text Скидка по данной карте действует на аксессуары, заказанные на...