mixin catalog(folder, type,dog,cat,mouse,bird,fish,reptile)
       
    section.section.section_catalog
            +footprint(dog,cat,mouse,bird,fish,reptile)
            .container.catalog-preview__wrapper
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/1_" + folder + ".jpg", alt="")


                    .catalog-preview__title Животные
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/2_" + folder + ".jpg", alt="")


                    .catalog-preview__title Наполнители
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/3_" + folder + ".jpg", alt="")


                    .catalog-preview__title Домики
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/4_" + folder + ".jpg", alt="")


                    .catalog-preview__title Подстилки
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/5_" + folder + ".jpg", alt="")


                    .catalog-preview__title Клетки и вольеры
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/6_" + folder + ".jpg", alt="")


                    .catalog-preview__title Амуниция
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/7_" + folder + ".jpg", alt="")


                    .catalog-preview__title Игрушки
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/8_" + folder + ".jpg", alt="")


                    .catalog-preview__title Аксессуары
                a(href="/").catalog-preview
                    .catalog-preview__image
                        img(src=img+"catalog/" + folder + "/9_" + folder + ".jpg", alt="")


                    .catalog-preview__title Здоровье
                

                if type
                    a(href="/").catalog-preview
                        .catalog-preview__image
                            img(src=img+"catalog/" + folder + "/10_" + folder + ".jpg", alt="")


                        .catalog-preview__title Уход
