mixin catalog()        
    section.section.section_catalog
            .container.catalog-preview__wrapper
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Корма
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Наполнители
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Домики
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Подстилки
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Клетки и вольеры
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Амуниция
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Игрушки
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Аксессуары
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Здоровье
                .catalog-preview
                    .catalog-preview__image
                        img(src=img+"products/img1.jpg", alt="")


                    .catalog-preview__title Уход
