mixin categories()
    section.categories

        .container
            a.item(href="#")
                .item-icon
                    img.item-icon__img.item-icon__static(src=img+"categories/dog/dog-off.svg", alt="")
                    img.item-icon__img.item-icon__hover(src=img+"categories/dog/dog-on.svg", alt="")
                .item__title Собаки
            a.item(href="#")
                .item-icon
                    img.item-icon__img.item-icon__static(src=img+"categories/cat/cat-off.svg", alt="")
                    img.item-icon__img.item-icon__hover(src=img+"categories/cat/cat-on.svg", alt="")
                .item__title Кошки
            a.item(href="#")
                .item-icon
                    img.item-icon__img.item-icon__static(src=img+"categories/grooming/grooming-off.svg", alt="")
                    img.item-icon__img.item-icon__hover(src=img+"categories/grooming/grooming-on.svg", alt="")
                .item__title ГрумМир
            a.item(href="#")
                .item-icon
                    img.item-icon__img.item-icon__static(src=img+"categories/bird/bird-off.svg", alt="")
                    img.item-icon__img.item-icon__hover(src=img+"categories/bird/bird-on.svg", alt="")
                .item__title Птицы
            a.item(href="#")
                .item-icon
                    img.item-icon__img.item-icon__static(src=img+"categories/humster/humster-off.svg", alt="")
                    img.item-icon__img.item-icon__hover(src=img+"categories/humster/humster-on.svg", alt="")
                .item__title Грызуны
            a.item(href="#")
                .item-icon
                    img.item-icon__img.item-icon__static(src=img+"categories/fish/fish-off.svg", alt="")
                    img.item-icon__img.item-icon__hover(src=img+"categories/fish/fish-on.svg", alt="")
                .item__title Рыбки
            a.item(href="#")
                .item-icon
                    img.item-icon__img.item-icon__static(src=img+"categories/chameleon/chameleon-off.svg", alt="")
                    img.item-icon__img.item-icon__hover(src=img+"categories/chameleon/chameleon-on.svg", alt="")
                .item__title Рептилии
            a.item(href="#")
                .item-icon
                    img.item-icon__img.item-icon__static(src=img+"categories/gift/gift-off.svg", alt="")
                    img.item-icon__img.item-icon__hover(src=img+"categories/gift/gift-on.svg", alt="")
                .item__title Акции