mixin favorite(favorite,history,finance,cart)
	if favorite
		.favorite
			.favorite__inner
				.favorite__title У вас в избранных добавлено 2 продукции
				.favorite__table
					table
						tr
							th 
							th Наименование
							th Модель
							th Доступно
							th Цена
							th Действие
						tr
							td 
								.favorite__image
									img(src=img+"favorite.png", alt="")
								
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 4
							td 700.00 ₽
							td 
							
								.favorite__options
									.favorite__action.favorite__action_add В корзину
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.9006" cy="22.5002" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M19.1346 28.1099C17.643 28.1099 16.4297 29.3232 16.4297 30.8148C16.4297 32.3064 17.643 33.5197 19.1346 33.5197C20.6262 33.5197 21.8396 32.3064 21.8396 30.8148C21.8396 29.3232 20.6262 28.1099 19.1346 28.1099ZM19.1346 31.974C18.4955 31.974 17.9754 31.4539 17.9754 30.8148C17.9754 30.1756 18.4955 29.6555 19.1346 29.6555C19.774 29.6555 20.2939 30.1756 20.2939 30.8148C20.2939 31.4539 19.7738 31.974 19.1346 31.974Z" fill="#02A950"/>
										<path d="M27.7909 28.1099C26.2993 28.1099 25.0859 29.3232 25.0859 30.8148C25.0859 32.3064 26.2993 33.5197 27.7909 33.5197C29.2825 33.5197 30.4958 32.3064 30.4958 30.8148C30.4958 29.3232 29.2825 28.1099 27.7909 28.1099ZM27.7909 31.974C27.1518 31.974 26.6316 31.4539 26.6316 30.8148C26.6316 30.1756 27.1518 29.6555 27.7909 29.6555C28.4303 29.6555 28.9501 30.1756 28.9501 30.8148C28.9501 31.4539 28.43 31.974 27.7909 31.974Z" fill="#02A950"/>
										<path d="M33.3458 17.8192C33.1994 17.6319 32.9748 17.5224 32.737 17.5224H29.0274C28.6005 17.5224 28.2545 17.8684 28.2545 18.2953C28.2545 18.7221 28.6005 19.0681 29.0274 19.0681H31.7491L30.2008 25.3023H17.6984L16.3566 19.0678H19.0578V17.5222H16.024L15.2794 14.0624C15.2026 13.7064 14.8881 13.4521 14.5238 13.4521H12.2826C11.8558 13.4521 11.5098 13.7981 11.5098 14.225C11.5098 14.6518 11.8558 14.9978 12.2826 14.9978H13.8997L16.3186 26.2375C16.3954 26.5935 16.7099 26.8478 17.0742 26.8478H30.8049C31.1599 26.8478 31.4693 26.6056 31.5548 26.2612L33.4869 18.4815C33.5444 18.2507 33.4921 18.0065 33.3458 17.8192Z" fill="#02A950"/>
										<path d="M24.0295 12.5244C20.8761 12.5244 18.3105 15.09 18.3105 18.2434C18.3105 21.3968 20.8761 23.9624 24.0295 23.9624C27.183 23.9624 29.7485 21.3968 29.7485 18.2434C29.7485 15.09 27.183 12.5244 24.0295 12.5244ZM24.0295 22.4167C21.7283 22.4167 19.8562 20.5444 19.8562 18.2434C19.8562 15.9424 21.7283 14.0701 24.0295 14.0701C26.3305 14.0701 28.2028 15.9424 28.2028 18.2434C28.2029 20.5444 26.3308 22.4167 24.0295 22.4167Z" fill="#02A950"/>
										<path d="M24.0307 15.8477C23.6038 15.8477 23.2578 16.1936 23.2578 16.6205V19.8664C23.2578 20.2933 23.6038 20.6393 24.0307 20.6393C24.4575 20.6393 24.8035 20.2933 24.8035 19.8664V16.6205C24.8035 16.1936 24.4576 15.8477 24.0307 15.8477Z" fill="#02A950"/>
										<path d="M25.6277 17.4697H22.4076C21.9808 17.4697 21.6348 17.8157 21.6348 18.2426C21.6348 18.6694 21.9808 19.0154 22.4076 19.0154H25.6277C26.0546 19.0154 26.4006 18.6694 26.4006 18.2426C26.4006 17.8157 26.0546 17.4697 25.6277 17.4697Z" fill="#02A950"/>
										</svg>

									.favorite__action.favorite__action_delete Удалить
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.8752" cy="22.5002" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M20.8426 19.4484C21.4044 19.4484 21.8598 19.9038 21.8598 20.4656V27.0776C21.8598 27.6394 21.4044 28.0948 20.8426 28.0948C20.2808 28.0948 19.8253 27.6394 19.8253 27.0776V20.4656C19.8253 19.9038 20.2808 19.4484 20.8426 19.4484Z" fill="#3D3D3D"/>
										<path d="M25.9287 20.4656C25.9287 19.9038 25.4733 19.4484 24.9115 19.4484C24.3497 19.4484 23.8943 19.9038 23.8943 20.4656V27.0776C23.8943 27.6394 24.3497 28.0948 24.9115 28.0948C25.4733 28.0948 25.9287 27.6394 25.9287 27.0776V20.4656Z" fill="#3D3D3D"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M20.4809 11.3105C20.1095 11.3105 19.7675 11.5131 19.5889 11.8388L18.2057 14.3622H12.7047C12.1429 14.3622 11.6875 14.8177 11.6875 15.3795C11.6875 15.9413 12.1429 16.3967 12.7047 16.3967H14.2306V32.6724C14.2306 33.2342 14.686 33.6896 15.2478 33.6896H30.5062C31.068 33.6896 31.5235 33.2342 31.5235 32.6724V16.3967H33.0493C33.6111 16.3967 34.0665 15.9413 34.0665 15.3795C34.0665 14.8177 33.6111 14.3622 33.0493 14.3622H27.5542L26.2029 11.8464C26.0256 11.5164 25.6813 11.3105 25.3067 11.3105H20.4809ZM25.2448 14.3622L24.6984 13.345H21.0834L20.5258 14.3622H25.2448ZM16.265 16.3967V31.6551H29.489V16.3967H16.265Z" fill="#3D3D3D"/>
										</svg>
						tr
							td 
								.favorite__image
									img(src=img+"favorite.png", alt="")

							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 4
							td 700.00 ₽
							td 
							
								.favorite__options
									.favorite__action.favorite__action_add В корзину
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.9006" cy="22.5002" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M19.1346 28.1099C17.643 28.1099 16.4297 29.3232 16.4297 30.8148C16.4297 32.3064 17.643 33.5197 19.1346 33.5197C20.6262 33.5197 21.8396 32.3064 21.8396 30.8148C21.8396 29.3232 20.6262 28.1099 19.1346 28.1099ZM19.1346 31.974C18.4955 31.974 17.9754 31.4539 17.9754 30.8148C17.9754 30.1756 18.4955 29.6555 19.1346 29.6555C19.774 29.6555 20.2939 30.1756 20.2939 30.8148C20.2939 31.4539 19.7738 31.974 19.1346 31.974Z" fill="#02A950"/>
										<path d="M27.7909 28.1099C26.2993 28.1099 25.0859 29.3232 25.0859 30.8148C25.0859 32.3064 26.2993 33.5197 27.7909 33.5197C29.2825 33.5197 30.4958 32.3064 30.4958 30.8148C30.4958 29.3232 29.2825 28.1099 27.7909 28.1099ZM27.7909 31.974C27.1518 31.974 26.6316 31.4539 26.6316 30.8148C26.6316 30.1756 27.1518 29.6555 27.7909 29.6555C28.4303 29.6555 28.9501 30.1756 28.9501 30.8148C28.9501 31.4539 28.43 31.974 27.7909 31.974Z" fill="#02A950"/>
										<path d="M33.3458 17.8192C33.1994 17.6319 32.9748 17.5224 32.737 17.5224H29.0274C28.6005 17.5224 28.2545 17.8684 28.2545 18.2953C28.2545 18.7221 28.6005 19.0681 29.0274 19.0681H31.7491L30.2008 25.3023H17.6984L16.3566 19.0678H19.0578V17.5222H16.024L15.2794 14.0624C15.2026 13.7064 14.8881 13.4521 14.5238 13.4521H12.2826C11.8558 13.4521 11.5098 13.7981 11.5098 14.225C11.5098 14.6518 11.8558 14.9978 12.2826 14.9978H13.8997L16.3186 26.2375C16.3954 26.5935 16.7099 26.8478 17.0742 26.8478H30.8049C31.1599 26.8478 31.4693 26.6056 31.5548 26.2612L33.4869 18.4815C33.5444 18.2507 33.4921 18.0065 33.3458 17.8192Z" fill="#02A950"/>
										<path d="M24.0295 12.5244C20.8761 12.5244 18.3105 15.09 18.3105 18.2434C18.3105 21.3968 20.8761 23.9624 24.0295 23.9624C27.183 23.9624 29.7485 21.3968 29.7485 18.2434C29.7485 15.09 27.183 12.5244 24.0295 12.5244ZM24.0295 22.4167C21.7283 22.4167 19.8562 20.5444 19.8562 18.2434C19.8562 15.9424 21.7283 14.0701 24.0295 14.0701C26.3305 14.0701 28.2028 15.9424 28.2028 18.2434C28.2029 20.5444 26.3308 22.4167 24.0295 22.4167Z" fill="#02A950"/>
										<path d="M24.0307 15.8477C23.6038 15.8477 23.2578 16.1936 23.2578 16.6205V19.8664C23.2578 20.2933 23.6038 20.6393 24.0307 20.6393C24.4575 20.6393 24.8035 20.2933 24.8035 19.8664V16.6205C24.8035 16.1936 24.4576 15.8477 24.0307 15.8477Z" fill="#02A950"/>
										<path d="M25.6277 17.4697H22.4076C21.9808 17.4697 21.6348 17.8157 21.6348 18.2426C21.6348 18.6694 21.9808 19.0154 22.4076 19.0154H25.6277C26.0546 19.0154 26.4006 18.6694 26.4006 18.2426C26.4006 17.8157 26.0546 17.4697 25.6277 17.4697Z" fill="#02A950"/>
										</svg>

									.favorite__action.favorite__action_delete Удалить
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.8752" cy="22.5002" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M20.8426 19.4484C21.4044 19.4484 21.8598 19.9038 21.8598 20.4656V27.0776C21.8598 27.6394 21.4044 28.0948 20.8426 28.0948C20.2808 28.0948 19.8253 27.6394 19.8253 27.0776V20.4656C19.8253 19.9038 20.2808 19.4484 20.8426 19.4484Z" fill="#3D3D3D"/>
										<path d="M25.9287 20.4656C25.9287 19.9038 25.4733 19.4484 24.9115 19.4484C24.3497 19.4484 23.8943 19.9038 23.8943 20.4656V27.0776C23.8943 27.6394 24.3497 28.0948 24.9115 28.0948C25.4733 28.0948 25.9287 27.6394 25.9287 27.0776V20.4656Z" fill="#3D3D3D"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M20.4809 11.3105C20.1095 11.3105 19.7675 11.5131 19.5889 11.8388L18.2057 14.3622H12.7047C12.1429 14.3622 11.6875 14.8177 11.6875 15.3795C11.6875 15.9413 12.1429 16.3967 12.7047 16.3967H14.2306V32.6724C14.2306 33.2342 14.686 33.6896 15.2478 33.6896H30.5062C31.068 33.6896 31.5235 33.2342 31.5235 32.6724V16.3967H33.0493C33.6111 16.3967 34.0665 15.9413 34.0665 15.3795C34.0665 14.8177 33.6111 14.3622 33.0493 14.3622H27.5542L26.2029 11.8464C26.0256 11.5164 25.6813 11.3105 25.3067 11.3105H20.4809ZM25.2448 14.3622L24.6984 13.345H21.0834L20.5258 14.3622H25.2448ZM16.265 16.3967V31.6551H29.489V16.3967H16.265Z" fill="#3D3D3D"/>
										</svg>

	else if history
		.favorite
			.favorite__inner
				
				.favorite__table.favorite__table_history
					table
						tr
							 
							th Наименование
							th Модель
							th Количество
							th Цена
							th Дата заказа
							th Действие
						tr
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 4
							td 700.00 ₽
							td XX.XX.XXXX
							td 
								.favorite__options 
									a(href="").favorite__action.favorite__action_repeat Повторить заказ
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.2131" cy="22.6643" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M30.2129 22.6641C30.2129 23.2164 30.6606 23.6641 31.2129 23.6641C31.7652 23.6641 32.2129 23.2164 32.2129 22.6641V14.6641C32.2129 14.1118 31.7652 13.6641 31.2129 13.6641C30.6606 13.6641 30.2129 14.1118 30.2129 14.6641V16.6631C28.3884 14.2347 25.4841 12.6641 22.2129 12.6641C20.8589 12.6641 19.5653 12.9337 18.3849 13.4232C17.7757 13.6758 17.1972 13.9867 16.6562 14.3489C16.111 14.7139 15.6038 15.131 15.1418 15.593C14.6798 16.055 14.2627 16.5622 13.8977 17.1074C13.5905 17.5664 13.7134 18.1875 14.1724 18.4947C14.6313 18.8019 15.2524 18.679 15.5596 18.22C15.8518 17.7836 16.1858 17.3774 16.556 17.0072C16.9262 16.637 17.3324 16.303 17.7688 16.0108C18.2018 15.721 18.6644 15.4724 19.151 15.2707C20.0928 14.8801 21.1264 14.6641 22.2129 14.6641C26.6312 14.6641 30.2129 18.2458 30.2129 22.6641Z" fill="black"/>
										<path d="M14.2129 22.6641C14.2129 22.1118 13.7652 21.6641 13.2129 21.6641C12.6606 21.6641 12.2129 22.1118 12.2129 22.6641V30.6641C12.2129 31.2163 12.6606 31.6641 13.2129 31.6641C13.7652 31.6641 14.2129 31.2163 14.2129 30.6641V28.665C16.0373 31.0934 18.9417 32.6641 22.2129 32.6641C23.5669 32.6641 24.8604 32.3944 26.0409 31.9049C26.65 31.6524 27.2286 31.3414 27.7695 30.9793C28.3147 30.6143 28.8219 30.1972 29.2839 29.7351C29.746 29.2731 30.1631 28.7659 30.5281 28.2207C30.8353 27.7618 30.7123 27.1407 30.2534 26.8335C29.7944 26.5262 29.1733 26.6492 28.8661 27.1081C28.574 27.5445 28.2399 27.9507 27.8697 28.3209C27.4995 28.6911 27.0933 29.0252 26.6569 29.3173C26.224 29.6072 25.7614 29.8557 25.2748 30.0575C24.3329 30.448 23.2994 30.6641 22.2129 30.6641C17.7946 30.6641 14.2129 27.0824 14.2129 22.6641Z" fill="black"/>
										</svg>
						tr
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 4
							td 700.00 ₽
							td XX.XX.XXXX
							td 
								.favorite__options 
									a(href="").favorite__action.favorite__action_repeat Повторить заказ
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.2131" cy="22.6643" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M30.2129 22.6641C30.2129 23.2164 30.6606 23.6641 31.2129 23.6641C31.7652 23.6641 32.2129 23.2164 32.2129 22.6641V14.6641C32.2129 14.1118 31.7652 13.6641 31.2129 13.6641C30.6606 13.6641 30.2129 14.1118 30.2129 14.6641V16.6631C28.3884 14.2347 25.4841 12.6641 22.2129 12.6641C20.8589 12.6641 19.5653 12.9337 18.3849 13.4232C17.7757 13.6758 17.1972 13.9867 16.6562 14.3489C16.111 14.7139 15.6038 15.131 15.1418 15.593C14.6798 16.055 14.2627 16.5622 13.8977 17.1074C13.5905 17.5664 13.7134 18.1875 14.1724 18.4947C14.6313 18.8019 15.2524 18.679 15.5596 18.22C15.8518 17.7836 16.1858 17.3774 16.556 17.0072C16.9262 16.637 17.3324 16.303 17.7688 16.0108C18.2018 15.721 18.6644 15.4724 19.151 15.2707C20.0928 14.8801 21.1264 14.6641 22.2129 14.6641C26.6312 14.6641 30.2129 18.2458 30.2129 22.6641Z" fill="black"/>
										<path d="M14.2129 22.6641C14.2129 22.1118 13.7652 21.6641 13.2129 21.6641C12.6606 21.6641 12.2129 22.1118 12.2129 22.6641V30.6641C12.2129 31.2163 12.6606 31.6641 13.2129 31.6641C13.7652 31.6641 14.2129 31.2163 14.2129 30.6641V28.665C16.0373 31.0934 18.9417 32.6641 22.2129 32.6641C23.5669 32.6641 24.8604 32.3944 26.0409 31.9049C26.65 31.6524 27.2286 31.3414 27.7695 30.9793C28.3147 30.6143 28.8219 30.1972 29.2839 29.7351C29.746 29.2731 30.1631 28.7659 30.5281 28.2207C30.8353 27.7618 30.7123 27.1407 30.2534 26.8335C29.7944 26.5262 29.1733 26.6492 28.8661 27.1081C28.574 27.5445 28.2399 27.9507 27.8697 28.3209C27.4995 28.6911 27.0933 29.0252 26.6569 29.3173C26.224 29.6072 25.7614 29.8557 25.2748 30.0575C24.3329 30.448 23.2994 30.6641 22.2129 30.6641C17.7946 30.6641 14.2129 27.0824 14.2129 22.6641Z" fill="black"/>
										</svg>
						tr
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 4
							td 700.00 ₽
							td XX.XX.XXXX
							td 
								.favorite__options 
									a(href="").favorite__action.favorite__action_repeat Повторить заказ
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.2131" cy="22.6643" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M30.2129 22.6641C30.2129 23.2164 30.6606 23.6641 31.2129 23.6641C31.7652 23.6641 32.2129 23.2164 32.2129 22.6641V14.6641C32.2129 14.1118 31.7652 13.6641 31.2129 13.6641C30.6606 13.6641 30.2129 14.1118 30.2129 14.6641V16.6631C28.3884 14.2347 25.4841 12.6641 22.2129 12.6641C20.8589 12.6641 19.5653 12.9337 18.3849 13.4232C17.7757 13.6758 17.1972 13.9867 16.6562 14.3489C16.111 14.7139 15.6038 15.131 15.1418 15.593C14.6798 16.055 14.2627 16.5622 13.8977 17.1074C13.5905 17.5664 13.7134 18.1875 14.1724 18.4947C14.6313 18.8019 15.2524 18.679 15.5596 18.22C15.8518 17.7836 16.1858 17.3774 16.556 17.0072C16.9262 16.637 17.3324 16.303 17.7688 16.0108C18.2018 15.721 18.6644 15.4724 19.151 15.2707C20.0928 14.8801 21.1264 14.6641 22.2129 14.6641C26.6312 14.6641 30.2129 18.2458 30.2129 22.6641Z" fill="black"/>
										<path d="M14.2129 22.6641C14.2129 22.1118 13.7652 21.6641 13.2129 21.6641C12.6606 21.6641 12.2129 22.1118 12.2129 22.6641V30.6641C12.2129 31.2163 12.6606 31.6641 13.2129 31.6641C13.7652 31.6641 14.2129 31.2163 14.2129 30.6641V28.665C16.0373 31.0934 18.9417 32.6641 22.2129 32.6641C23.5669 32.6641 24.8604 32.3944 26.0409 31.9049C26.65 31.6524 27.2286 31.3414 27.7695 30.9793C28.3147 30.6143 28.8219 30.1972 29.2839 29.7351C29.746 29.2731 30.1631 28.7659 30.5281 28.2207C30.8353 27.7618 30.7123 27.1407 30.2534 26.8335C29.7944 26.5262 29.1733 26.6492 28.8661 27.1081C28.574 27.5445 28.2399 27.9507 27.8697 28.3209C27.4995 28.6911 27.0933 29.0252 26.6569 29.3173C26.224 29.6072 25.7614 29.8557 25.2748 30.0575C24.3329 30.448 23.2994 30.6641 22.2129 30.6641C17.7946 30.6641 14.2129 27.0824 14.2129 22.6641Z" fill="black"/>
										</svg>
						tr
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 4
							td 700.00 ₽
							td XX.XX.XXXX
							td 
								.favorite__options 
									a(href="").favorite__action.favorite__action_repeat Повторить заказ
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.2131" cy="22.6643" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M30.2129 22.6641C30.2129 23.2164 30.6606 23.6641 31.2129 23.6641C31.7652 23.6641 32.2129 23.2164 32.2129 22.6641V14.6641C32.2129 14.1118 31.7652 13.6641 31.2129 13.6641C30.6606 13.6641 30.2129 14.1118 30.2129 14.6641V16.6631C28.3884 14.2347 25.4841 12.6641 22.2129 12.6641C20.8589 12.6641 19.5653 12.9337 18.3849 13.4232C17.7757 13.6758 17.1972 13.9867 16.6562 14.3489C16.111 14.7139 15.6038 15.131 15.1418 15.593C14.6798 16.055 14.2627 16.5622 13.8977 17.1074C13.5905 17.5664 13.7134 18.1875 14.1724 18.4947C14.6313 18.8019 15.2524 18.679 15.5596 18.22C15.8518 17.7836 16.1858 17.3774 16.556 17.0072C16.9262 16.637 17.3324 16.303 17.7688 16.0108C18.2018 15.721 18.6644 15.4724 19.151 15.2707C20.0928 14.8801 21.1264 14.6641 22.2129 14.6641C26.6312 14.6641 30.2129 18.2458 30.2129 22.6641Z" fill="black"/>
										<path d="M14.2129 22.6641C14.2129 22.1118 13.7652 21.6641 13.2129 21.6641C12.6606 21.6641 12.2129 22.1118 12.2129 22.6641V30.6641C12.2129 31.2163 12.6606 31.6641 13.2129 31.6641C13.7652 31.6641 14.2129 31.2163 14.2129 30.6641V28.665C16.0373 31.0934 18.9417 32.6641 22.2129 32.6641C23.5669 32.6641 24.8604 32.3944 26.0409 31.9049C26.65 31.6524 27.2286 31.3414 27.7695 30.9793C28.3147 30.6143 28.8219 30.1972 29.2839 29.7351C29.746 29.2731 30.1631 28.7659 30.5281 28.2207C30.8353 27.7618 30.7123 27.1407 30.2534 26.8335C29.7944 26.5262 29.1733 26.6492 28.8661 27.1081C28.574 27.5445 28.2399 27.9507 27.8697 28.3209C27.4995 28.6911 27.0933 29.0252 26.6569 29.3173C26.224 29.6072 25.7614 29.8557 25.2748 30.0575C24.3329 30.448 23.2994 30.6641 22.2129 30.6641C17.7946 30.6641 14.2129 27.0824 14.2129 22.6641Z" fill="black"/>
										</svg>
						tr
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 4
							td 700.00 ₽
							td XX.XX.XXXX
							td 
								.favorite__options 
									a(href="").favorite__action.favorite__action_repeat Повторить заказ
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.2131" cy="22.6643" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M30.2129 22.6641C30.2129 23.2164 30.6606 23.6641 31.2129 23.6641C31.7652 23.6641 32.2129 23.2164 32.2129 22.6641V14.6641C32.2129 14.1118 31.7652 13.6641 31.2129 13.6641C30.6606 13.6641 30.2129 14.1118 30.2129 14.6641V16.6631C28.3884 14.2347 25.4841 12.6641 22.2129 12.6641C20.8589 12.6641 19.5653 12.9337 18.3849 13.4232C17.7757 13.6758 17.1972 13.9867 16.6562 14.3489C16.111 14.7139 15.6038 15.131 15.1418 15.593C14.6798 16.055 14.2627 16.5622 13.8977 17.1074C13.5905 17.5664 13.7134 18.1875 14.1724 18.4947C14.6313 18.8019 15.2524 18.679 15.5596 18.22C15.8518 17.7836 16.1858 17.3774 16.556 17.0072C16.9262 16.637 17.3324 16.303 17.7688 16.0108C18.2018 15.721 18.6644 15.4724 19.151 15.2707C20.0928 14.8801 21.1264 14.6641 22.2129 14.6641C26.6312 14.6641 30.2129 18.2458 30.2129 22.6641Z" fill="black"/>
										<path d="M14.2129 22.6641C14.2129 22.1118 13.7652 21.6641 13.2129 21.6641C12.6606 21.6641 12.2129 22.1118 12.2129 22.6641V30.6641C12.2129 31.2163 12.6606 31.6641 13.2129 31.6641C13.7652 31.6641 14.2129 31.2163 14.2129 30.6641V28.665C16.0373 31.0934 18.9417 32.6641 22.2129 32.6641C23.5669 32.6641 24.8604 32.3944 26.0409 31.9049C26.65 31.6524 27.2286 31.3414 27.7695 30.9793C28.3147 30.6143 28.8219 30.1972 29.2839 29.7351C29.746 29.2731 30.1631 28.7659 30.5281 28.2207C30.8353 27.7618 30.7123 27.1407 30.2534 26.8335C29.7944 26.5262 29.1733 26.6492 28.8661 27.1081C28.574 27.5445 28.2399 27.9507 27.8697 28.3209C27.4995 28.6911 27.0933 29.0252 26.6569 29.3173C26.224 29.6072 25.7614 29.8557 25.2748 30.0575C24.3329 30.448 23.2994 30.6641 22.2129 30.6641C17.7946 30.6641 14.2129 27.0824 14.2129 22.6641Z" fill="black"/>
										</svg>
						tr
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 4
							td 700.00 ₽
							td XX.XX.XXXX
							td 
								.favorite__options 
									a(href="").favorite__action.favorite__action_repeat Повторить заказ
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.2131" cy="22.6643" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M30.2129 22.6641C30.2129 23.2164 30.6606 23.6641 31.2129 23.6641C31.7652 23.6641 32.2129 23.2164 32.2129 22.6641V14.6641C32.2129 14.1118 31.7652 13.6641 31.2129 13.6641C30.6606 13.6641 30.2129 14.1118 30.2129 14.6641V16.6631C28.3884 14.2347 25.4841 12.6641 22.2129 12.6641C20.8589 12.6641 19.5653 12.9337 18.3849 13.4232C17.7757 13.6758 17.1972 13.9867 16.6562 14.3489C16.111 14.7139 15.6038 15.131 15.1418 15.593C14.6798 16.055 14.2627 16.5622 13.8977 17.1074C13.5905 17.5664 13.7134 18.1875 14.1724 18.4947C14.6313 18.8019 15.2524 18.679 15.5596 18.22C15.8518 17.7836 16.1858 17.3774 16.556 17.0072C16.9262 16.637 17.3324 16.303 17.7688 16.0108C18.2018 15.721 18.6644 15.4724 19.151 15.2707C20.0928 14.8801 21.1264 14.6641 22.2129 14.6641C26.6312 14.6641 30.2129 18.2458 30.2129 22.6641Z" fill="black"/>
										<path d="M14.2129 22.6641C14.2129 22.1118 13.7652 21.6641 13.2129 21.6641C12.6606 21.6641 12.2129 22.1118 12.2129 22.6641V30.6641C12.2129 31.2163 12.6606 31.6641 13.2129 31.6641C13.7652 31.6641 14.2129 31.2163 14.2129 30.6641V28.665C16.0373 31.0934 18.9417 32.6641 22.2129 32.6641C23.5669 32.6641 24.8604 32.3944 26.0409 31.9049C26.65 31.6524 27.2286 31.3414 27.7695 30.9793C28.3147 30.6143 28.8219 30.1972 29.2839 29.7351C29.746 29.2731 30.1631 28.7659 30.5281 28.2207C30.8353 27.7618 30.7123 27.1407 30.2534 26.8335C29.7944 26.5262 29.1733 26.6492 28.8661 27.1081C28.574 27.5445 28.2399 27.9507 27.8697 28.3209C27.4995 28.6911 27.0933 29.0252 26.6569 29.3173C26.224 29.6072 25.7614 29.8557 25.2748 30.0575C24.3329 30.448 23.2994 30.6641 22.2129 30.6641C17.7946 30.6641 14.2129 27.0824 14.2129 22.6641Z" fill="black"/>
										</svg>
									

							
	else if finance
		.favorite
			.favorite__inner
				.favorite__title <span>Ваш текущий баланс:</span> 0.00 ₽
				.favorite__table.favorite__table_finance
					table
						tr
							 
							th Добавлено
							th Описание
							th Сумма (RUB)
						   
						tr
							td 20.01.2021
							td Значимость этих проблем настолько очевидна, что постоянное информационно-п
							td 2 400 ₽
						tr
							td 20.01.2021
							td Значимость этих проблем настолько очевидна, что постоянное информационно-п
							td 2 400 ₽
						tr
							td 20.01.2021
							td Значимость этих проблем настолько очевидна, что постоянное информационно-п
							td 2 400 ₽
						tr
							td 20.01.2021
							td Значимость этих проблем настолько очевидна, что постоянное информационно-п
							td 2 400 ₽
						tr
							td 20.01.2021
							td Значимость этих проблем настолько очевидна, что постоянное информационно-п
							td 2 400 ₽
							
									
	else if cart
		.favorite
			.favorite__inner
				
				.favorite__table
					table
						tr
							 
							th 
							th Наименование
							th Модель
							th Количество
							th Доступно
							th Цена
							th Итого
							th Действие

						tr
							td 
								.favorite__image
									img(src=img+"favorite.png", alt="")
								
							td 
								a(href="/") ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 
								form(action="/").favorite__options.favorite__options_count
									.favorite__action.favorite__action_minus
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.5451" cy="22.6145" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M25.8449 23.5743H18.4449V21.4943H25.8449V23.5743Z" fill="black"/>
										</svg>

									input(type="number" value="2").favorite__count
									.favorite__action.favorite__action_plus
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.4553" cy="22.6145" r="21.2837" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M23.4751 22.1294H26.8551V24.1694H23.4751V27.5494H21.4351V24.1694H18.0551V22.1294H21.4351V18.7494H23.4751V22.1294Z" fill="black"/>
										</svg>

							td 200
							td 700.00 ₽
							td 1400.00 ₽
							td 
							
								.favorite__options
								   

									.favorite__action.favorite__action_delete Удалить
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.8752" cy="22.5002" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M20.8426 19.4484C21.4044 19.4484 21.8598 19.9038 21.8598 20.4656V27.0776C21.8598 27.6394 21.4044 28.0948 20.8426 28.0948C20.2808 28.0948 19.8253 27.6394 19.8253 27.0776V20.4656C19.8253 19.9038 20.2808 19.4484 20.8426 19.4484Z" fill="#3D3D3D"/>
										<path d="M25.9287 20.4656C25.9287 19.9038 25.4733 19.4484 24.9115 19.4484C24.3497 19.4484 23.8943 19.9038 23.8943 20.4656V27.0776C23.8943 27.6394 24.3497 28.0948 24.9115 28.0948C25.4733 28.0948 25.9287 27.6394 25.9287 27.0776V20.4656Z" fill="#3D3D3D"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M20.4809 11.3105C20.1095 11.3105 19.7675 11.5131 19.5889 11.8388L18.2057 14.3622H12.7047C12.1429 14.3622 11.6875 14.8177 11.6875 15.3795C11.6875 15.9413 12.1429 16.3967 12.7047 16.3967H14.2306V32.6724C14.2306 33.2342 14.686 33.6896 15.2478 33.6896H30.5062C31.068 33.6896 31.5235 33.2342 31.5235 32.6724V16.3967H33.0493C33.6111 16.3967 34.0665 15.9413 34.0665 15.3795C34.0665 14.8177 33.6111 14.3622 33.0493 14.3622H27.5542L26.2029 11.8464C26.0256 11.5164 25.6813 11.3105 25.3067 11.3105H20.4809ZM25.2448 14.3622L24.6984 13.345H21.0834L20.5258 14.3622H25.2448ZM16.265 16.3967V31.6551H29.489V16.3967H16.265Z" fill="#3D3D3D"/>
										</svg>
						tr
							td 
								.favorite__image
									img(src=img+"favorite.png", alt="")
								
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 
								.favorite__options.favorite__options_count
									.favorite__action.favorite__action_minus
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.5451" cy="22.6145" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M25.8449 23.5743H18.4449V21.4943H25.8449V23.5743Z" fill="black"/>
										</svg>

									.favorite__count 2
									.favorite__action.favorite__action_plus
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.4553" cy="22.6145" r="21.2837" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M23.4751 22.1294H26.8551V24.1694H23.4751V27.5494H21.4351V24.1694H18.0551V22.1294H21.4351V18.7494H23.4751V22.1294Z" fill="black"/>
										</svg>

							td 200
							td 700.00 ₽
							td 1400.00 ₽
							td 
							
								.favorite__options
								   

									.favorite__action.favorite__action_delete Удалить
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.8752" cy="22.5002" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M20.8426 19.4484C21.4044 19.4484 21.8598 19.9038 21.8598 20.4656V27.0776C21.8598 27.6394 21.4044 28.0948 20.8426 28.0948C20.2808 28.0948 19.8253 27.6394 19.8253 27.0776V20.4656C19.8253 19.9038 20.2808 19.4484 20.8426 19.4484Z" fill="#3D3D3D"/>
										<path d="M25.9287 20.4656C25.9287 19.9038 25.4733 19.4484 24.9115 19.4484C24.3497 19.4484 23.8943 19.9038 23.8943 20.4656V27.0776C23.8943 27.6394 24.3497 28.0948 24.9115 28.0948C25.4733 28.0948 25.9287 27.6394 25.9287 27.0776V20.4656Z" fill="#3D3D3D"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M20.4809 11.3105C20.1095 11.3105 19.7675 11.5131 19.5889 11.8388L18.2057 14.3622H12.7047C12.1429 14.3622 11.6875 14.8177 11.6875 15.3795C11.6875 15.9413 12.1429 16.3967 12.7047 16.3967H14.2306V32.6724C14.2306 33.2342 14.686 33.6896 15.2478 33.6896H30.5062C31.068 33.6896 31.5235 33.2342 31.5235 32.6724V16.3967H33.0493C33.6111 16.3967 34.0665 15.9413 34.0665 15.3795C34.0665 14.8177 33.6111 14.3622 33.0493 14.3622H27.5542L26.2029 11.8464C26.0256 11.5164 25.6813 11.3105 25.3067 11.3105H20.4809ZM25.2448 14.3622L24.6984 13.345H21.0834L20.5258 14.3622H25.2448ZM16.265 16.3967V31.6551H29.489V16.3967H16.265Z" fill="#3D3D3D"/>
										</svg>
						tr
							td 
								.favorite__image
									img(src=img+"favorite.png", alt="")
								
							td ACANA SINGLES Утка корм д/собак 340 гр. (61233)
							td П2020
							td 
								.favorite__options.favorite__options_count
									.favorite__action.favorite__action_minus
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.5451" cy="22.6145" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M25.8449 23.5743H18.4449V21.4943H25.8449V23.5743Z" fill="black"/>
										</svg>

									.favorite__count 2
									.favorite__action.favorite__action_plus
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.4553" cy="22.6145" r="21.2837" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M23.4751 22.1294H26.8551V24.1694H23.4751V27.5494H21.4351V24.1694H18.0551V22.1294H21.4351V18.7494H23.4751V22.1294Z" fill="black"/>
										</svg>

							td 200
							td 700.00 ₽
							td 1400.00 ₽
							td 
							
								.favorite__options
								   

									.favorite__action.favorite__action_delete Удалить
										<svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
										<circle cx="22.8752" cy="22.5002" r="21.2837" fill="white" stroke="#DCDCDC" stroke-width="1.38224"/>
										<path d="M20.8426 19.4484C21.4044 19.4484 21.8598 19.9038 21.8598 20.4656V27.0776C21.8598 27.6394 21.4044 28.0948 20.8426 28.0948C20.2808 28.0948 19.8253 27.6394 19.8253 27.0776V20.4656C19.8253 19.9038 20.2808 19.4484 20.8426 19.4484Z" fill="#3D3D3D"/>
										<path d="M25.9287 20.4656C25.9287 19.9038 25.4733 19.4484 24.9115 19.4484C24.3497 19.4484 23.8943 19.9038 23.8943 20.4656V27.0776C23.8943 27.6394 24.3497 28.0948 24.9115 28.0948C25.4733 28.0948 25.9287 27.6394 25.9287 27.0776V20.4656Z" fill="#3D3D3D"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M20.4809 11.3105C20.1095 11.3105 19.7675 11.5131 19.5889 11.8388L18.2057 14.3622H12.7047C12.1429 14.3622 11.6875 14.8177 11.6875 15.3795C11.6875 15.9413 12.1429 16.3967 12.7047 16.3967H14.2306V32.6724C14.2306 33.2342 14.686 33.6896 15.2478 33.6896H30.5062C31.068 33.6896 31.5235 33.2342 31.5235 32.6724V16.3967H33.0493C33.6111 16.3967 34.0665 15.9413 34.0665 15.3795C34.0665 14.8177 33.6111 14.3622 33.0493 14.3622H27.5542L26.2029 11.8464C26.0256 11.5164 25.6813 11.3105 25.3067 11.3105H20.4809ZM25.2448 14.3622L24.6984 13.345H21.0834L20.5258 14.3622H25.2448ZM16.265 16.3967V31.6551H29.489V16.3967H16.265Z" fill="#3D3D3D"/>
										</svg>
				.favorite__buttons 
					+button('Продолжить покупки','button_transparent button_submit','','/')
					.favorite__total Общая сумма: <span>4 500 ₽</span>
					+button('Оформить заказ','button_green button_submit','','/')
						
							
									

							

