- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container
			
			section.about
				.container

			section.discount
				.container
					.discount-left
						.text-container
							p Parturient magna ridiculus? Mid Dignisim augue amet sed urna phasellus mana, elit, adipiscing quis! Augue amet Placerat? Tincidunt. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis.
							p Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis. Ut nec quis turpis. In dictumst, dapibus rhoncus pulvinar. Magna aliquam nisi mauris magna placerat dis, sed sit aenean turpis.
							ul
								li Cotton blend
								li Straight fit
								li Dry clean
					.discount-right
						.discount__subtitle ГрумМир!
						.discount__title СКИДКА 10%
						.discount__text При покупке корма пурина план для собак <br> скидка на груминг 10%
						ul.action
							li
								a.pink-btn.popup-link(href="#") Записаться

			section.partners
				.container
					.block-title Партнеры
					.slider
						.slide
							img.slide__img(src=img+"partners/img1.jpg", alt="")
						.slide
							img.slide__img(src=img+"partners/img2.jpg", alt="")
						.slide
							img.slide__img(src=img+"partners/img3.jpg", alt="")
						.slide
							img.slide__img(src=img+"partners/img4.jpg", alt="")
						.slide
							img.slide__img(src=img+"partners/img5.jpg", alt="")
						.slide
							img.slide__img(src=img+"partners/img6.jpg", alt="")
						.slide
							img.slide__img(src=img+"partners/img6.jpg", alt="")

		include blocks/footer.pug
		include blocks/scripts.pug