- var img = '../img/';
include main.pug

doctype
html
	include blocks/head.pug
		title
	body
		+header1()
		//- include blocks/header.pug

		main.page-container
			+breadcrumbs('','Кошки')
			+title('Название выбранного раздела','','h1','','inner')
			.section
				.section__inner.section__inner_dual 
					.section__sidebar 
						+filter('catalog')
					.section__box.section__box_goods
						.product.new.discount
							.product-labels
								.new new
								.discount -8%
								.choose__box
									button.choose
										<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4141 0C11.9663 0 12.4141 0.447715 12.4141 1V3H18.4141C18.7653 3 19.0908 3.1843 19.2716 3.4855L22.2716 8.4855C22.3648 8.64092 22.4141 8.81876 22.4141 9C22.4141 11.2091 20.6232 13 18.4141 13C16.2049 13 14.4141 11.2091 14.4141 9C14.4141 8.81876 14.4633 8.64092 14.5566 8.4855L16.6479 5H12.4141V18H18.4141C18.9663 18 19.4141 18.4477 19.4141 19C19.4141 19.5523 18.9663 20 18.4141 20H4.41406C3.86178 20 3.41406 19.5523 3.41406 19C3.41406 18.4477 3.86178 18 4.41406 18H10.4141V5H6.18025L8.27156 8.4855C8.3648 8.64092 8.41406 8.81876 8.41406 9C8.41406 11.2091 6.6232 13 4.41406 13C2.20492 13 0.414062 11.2091 0.414062 9C0.414062 8.81876 0.46332 8.64092 0.55657 8.4855L3.55657 3.4855C3.73729 3.1843 4.0628 3 4.41406 3H10.4141V1C10.4141 0.447715 10.8618 0 11.4141 0ZM4.41406 5.94365L5.64787 8H3.18025L4.41406 5.94365ZM2.68163 10H6.1465C5.80069 10.5978 5.15434 11 4.41406 11C3.67378 11 3.02744 10.5978 2.68163 10ZM18.4141 5.94365L17.1803 8H19.6479L18.4141 5.94365ZM20.1465 10H16.6816C17.0274 10.5978 17.6738 11 18.4141 11C19.1543 11 19.8007 10.5978 20.1465 10Z" fill="#6EA9C6"/>
										</svg>
									button.choose.choose_love
										<svg viewBox="-50 -28 610 512" xmlns="http://www.w3.org/2000/svg"><path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/></svg>
							.product-img
								img.product__img(src=img+"products/product_1.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Хеппи Дог (ягненок с рисом) 12,5 кг
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product.new.discount
							.product-labels
								.new new
								.discount -8%
								.choose__box
									button.choose
										<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4141 0C11.9663 0 12.4141 0.447715 12.4141 1V3H18.4141C18.7653 3 19.0908 3.1843 19.2716 3.4855L22.2716 8.4855C22.3648 8.64092 22.4141 8.81876 22.4141 9C22.4141 11.2091 20.6232 13 18.4141 13C16.2049 13 14.4141 11.2091 14.4141 9C14.4141 8.81876 14.4633 8.64092 14.5566 8.4855L16.6479 5H12.4141V18H18.4141C18.9663 18 19.4141 18.4477 19.4141 19C19.4141 19.5523 18.9663 20 18.4141 20H4.41406C3.86178 20 3.41406 19.5523 3.41406 19C3.41406 18.4477 3.86178 18 4.41406 18H10.4141V5H6.18025L8.27156 8.4855C8.3648 8.64092 8.41406 8.81876 8.41406 9C8.41406 11.2091 6.6232 13 4.41406 13C2.20492 13 0.414062 11.2091 0.414062 9C0.414062 8.81876 0.46332 8.64092 0.55657 8.4855L3.55657 3.4855C3.73729 3.1843 4.0628 3 4.41406 3H10.4141V1C10.4141 0.447715 10.8618 0 11.4141 0ZM4.41406 5.94365L5.64787 8H3.18025L4.41406 5.94365ZM2.68163 10H6.1465C5.80069 10.5978 5.15434 11 4.41406 11C3.67378 11 3.02744 10.5978 2.68163 10ZM18.4141 5.94365L17.1803 8H19.6479L18.4141 5.94365ZM20.1465 10H16.6816C17.0274 10.5978 17.6738 11 18.4141 11C19.1543 11 19.8007 10.5978 20.1465 10Z" fill="#6EA9C6"/>
										</svg>
									button.choose.choose_love
										<svg viewBox="-50 -28 610 512" xmlns="http://www.w3.org/2000/svg"><path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/></svg>
							.product-img
								img.product__img(src=img+"products/product_2.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product
							.product-img
								img.product__img(src=img+"products/product_3.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product
							.product-img
								img.product__img(src=img+"products/product_4.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product.new.discount
							.product-labels
								.new new
								.discount -8%
								.choose__box
									button.choose
										<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4141 0C11.9663 0 12.4141 0.447715 12.4141 1V3H18.4141C18.7653 3 19.0908 3.1843 19.2716 3.4855L22.2716 8.4855C22.3648 8.64092 22.4141 8.81876 22.4141 9C22.4141 11.2091 20.6232 13 18.4141 13C16.2049 13 14.4141 11.2091 14.4141 9C14.4141 8.81876 14.4633 8.64092 14.5566 8.4855L16.6479 5H12.4141V18H18.4141C18.9663 18 19.4141 18.4477 19.4141 19C19.4141 19.5523 18.9663 20 18.4141 20H4.41406C3.86178 20 3.41406 19.5523 3.41406 19C3.41406 18.4477 3.86178 18 4.41406 18H10.4141V5H6.18025L8.27156 8.4855C8.3648 8.64092 8.41406 8.81876 8.41406 9C8.41406 11.2091 6.6232 13 4.41406 13C2.20492 13 0.414062 11.2091 0.414062 9C0.414062 8.81876 0.46332 8.64092 0.55657 8.4855L3.55657 3.4855C3.73729 3.1843 4.0628 3 4.41406 3H10.4141V1C10.4141 0.447715 10.8618 0 11.4141 0ZM4.41406 5.94365L5.64787 8H3.18025L4.41406 5.94365ZM2.68163 10H6.1465C5.80069 10.5978 5.15434 11 4.41406 11C3.67378 11 3.02744 10.5978 2.68163 10ZM18.4141 5.94365L17.1803 8H19.6479L18.4141 5.94365ZM20.1465 10H16.6816C17.0274 10.5978 17.6738 11 18.4141 11C19.1543 11 19.8007 10.5978 20.1465 10Z" fill="#6EA9C6"/>
										</svg>
									button.choose.choose_love
										<svg viewBox="-50 -28 610 512" xmlns="http://www.w3.org/2000/svg"><path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/></svg>
							.product-img
								img.product__img(src=img+"products/product_1.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Хеппи Дог (ягненок с рисом) 12,5 кг
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product.new.discount
							.product-labels
								.new new
								.discount -8%
								.choose__box
									button.choose
										<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4141 0C11.9663 0 12.4141 0.447715 12.4141 1V3H18.4141C18.7653 3 19.0908 3.1843 19.2716 3.4855L22.2716 8.4855C22.3648 8.64092 22.4141 8.81876 22.4141 9C22.4141 11.2091 20.6232 13 18.4141 13C16.2049 13 14.4141 11.2091 14.4141 9C14.4141 8.81876 14.4633 8.64092 14.5566 8.4855L16.6479 5H12.4141V18H18.4141C18.9663 18 19.4141 18.4477 19.4141 19C19.4141 19.5523 18.9663 20 18.4141 20H4.41406C3.86178 20 3.41406 19.5523 3.41406 19C3.41406 18.4477 3.86178 18 4.41406 18H10.4141V5H6.18025L8.27156 8.4855C8.3648 8.64092 8.41406 8.81876 8.41406 9C8.41406 11.2091 6.6232 13 4.41406 13C2.20492 13 0.414062 11.2091 0.414062 9C0.414062 8.81876 0.46332 8.64092 0.55657 8.4855L3.55657 3.4855C3.73729 3.1843 4.0628 3 4.41406 3H10.4141V1C10.4141 0.447715 10.8618 0 11.4141 0ZM4.41406 5.94365L5.64787 8H3.18025L4.41406 5.94365ZM2.68163 10H6.1465C5.80069 10.5978 5.15434 11 4.41406 11C3.67378 11 3.02744 10.5978 2.68163 10ZM18.4141 5.94365L17.1803 8H19.6479L18.4141 5.94365ZM20.1465 10H16.6816C17.0274 10.5978 17.6738 11 18.4141 11C19.1543 11 19.8007 10.5978 20.1465 10Z" fill="#6EA9C6"/>
										</svg>
									button.choose.choose_love
										<svg viewBox="-50 -28 610 512" xmlns="http://www.w3.org/2000/svg"><path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/></svg>
							.product-img
								img.product__img(src=img+"products/product_2.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product
							.product-img
								img.product__img(src=img+"products/product_3.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product
							.product-img
								img.product__img(src=img+"products/product_4.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product.new.discount
							.product-labels
								.new new
								.discount -8%
								.choose__box
									button.choose
										<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4141 0C11.9663 0 12.4141 0.447715 12.4141 1V3H18.4141C18.7653 3 19.0908 3.1843 19.2716 3.4855L22.2716 8.4855C22.3648 8.64092 22.4141 8.81876 22.4141 9C22.4141 11.2091 20.6232 13 18.4141 13C16.2049 13 14.4141 11.2091 14.4141 9C14.4141 8.81876 14.4633 8.64092 14.5566 8.4855L16.6479 5H12.4141V18H18.4141C18.9663 18 19.4141 18.4477 19.4141 19C19.4141 19.5523 18.9663 20 18.4141 20H4.41406C3.86178 20 3.41406 19.5523 3.41406 19C3.41406 18.4477 3.86178 18 4.41406 18H10.4141V5H6.18025L8.27156 8.4855C8.3648 8.64092 8.41406 8.81876 8.41406 9C8.41406 11.2091 6.6232 13 4.41406 13C2.20492 13 0.414062 11.2091 0.414062 9C0.414062 8.81876 0.46332 8.64092 0.55657 8.4855L3.55657 3.4855C3.73729 3.1843 4.0628 3 4.41406 3H10.4141V1C10.4141 0.447715 10.8618 0 11.4141 0ZM4.41406 5.94365L5.64787 8H3.18025L4.41406 5.94365ZM2.68163 10H6.1465C5.80069 10.5978 5.15434 11 4.41406 11C3.67378 11 3.02744 10.5978 2.68163 10ZM18.4141 5.94365L17.1803 8H19.6479L18.4141 5.94365ZM20.1465 10H16.6816C17.0274 10.5978 17.6738 11 18.4141 11C19.1543 11 19.8007 10.5978 20.1465 10Z" fill="#6EA9C6"/>
										</svg>
									button.choose.choose_love
										<svg viewBox="-50 -28 610 512" xmlns="http://www.w3.org/2000/svg"><path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/></svg>
							.product-img
								img.product__img(src=img+"products/product_1.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Хеппи Дог (ягненок с рисом) 12,5 кг
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product.new.discount
							.product-labels
								.new new
								.discount -8%
								.choose__box
									button.choose
										<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M11.4141 0C11.9663 0 12.4141 0.447715 12.4141 1V3H18.4141C18.7653 3 19.0908 3.1843 19.2716 3.4855L22.2716 8.4855C22.3648 8.64092 22.4141 8.81876 22.4141 9C22.4141 11.2091 20.6232 13 18.4141 13C16.2049 13 14.4141 11.2091 14.4141 9C14.4141 8.81876 14.4633 8.64092 14.5566 8.4855L16.6479 5H12.4141V18H18.4141C18.9663 18 19.4141 18.4477 19.4141 19C19.4141 19.5523 18.9663 20 18.4141 20H4.41406C3.86178 20 3.41406 19.5523 3.41406 19C3.41406 18.4477 3.86178 18 4.41406 18H10.4141V5H6.18025L8.27156 8.4855C8.3648 8.64092 8.41406 8.81876 8.41406 9C8.41406 11.2091 6.6232 13 4.41406 13C2.20492 13 0.414062 11.2091 0.414062 9C0.414062 8.81876 0.46332 8.64092 0.55657 8.4855L3.55657 3.4855C3.73729 3.1843 4.0628 3 4.41406 3H10.4141V1C10.4141 0.447715 10.8618 0 11.4141 0ZM4.41406 5.94365L5.64787 8H3.18025L4.41406 5.94365ZM2.68163 10H6.1465C5.80069 10.5978 5.15434 11 4.41406 11C3.67378 11 3.02744 10.5978 2.68163 10ZM18.4141 5.94365L17.1803 8H19.6479L18.4141 5.94365ZM20.1465 10H16.6816C17.0274 10.5978 17.6738 11 18.4141 11C19.1543 11 19.8007 10.5978 20.1465 10Z" fill="#6EA9C6"/>
										</svg>
									button.choose.choose_love
										<svg viewBox="-50 -28 610 512" xmlns="http://www.w3.org/2000/svg"><path d="m471.382812 44.578125c-26.503906-28.746094-62.871093-44.578125-102.410156-44.578125-29.554687 0-56.621094 9.34375-80.449218 27.769531-12.023438 9.300781-22.917969 20.679688-32.523438 33.960938-9.601562-13.277344-20.5-24.660157-32.527344-33.960938-23.824218-18.425781-50.890625-27.769531-80.445312-27.769531-39.539063 0-75.910156 15.832031-102.414063 44.578125-26.1875 28.410156-40.613281 67.222656-40.613281 109.292969 0 43.300781 16.136719 82.9375 50.78125 124.742187 30.992188 37.394531 75.535156 75.355469 127.117188 119.3125 17.613281 15.011719 37.578124 32.027344 58.308593 50.152344 5.476563 4.796875 12.503907 7.4375 19.792969 7.4375 7.285156 0 14.316406-2.640625 19.785156-7.429687 20.730469-18.128907 40.707032-35.152344 58.328125-50.171876 51.574219-43.949218 96.117188-81.90625 127.109375-119.304687 34.644532-41.800781 50.777344-81.4375 50.777344-124.742187 0-42.066407-14.425781-80.878907-40.617188-109.289063zm0 0"/></svg>
							.product-img
								img.product__img(src=img+"products/product_2.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product
							.product-img
								img.product__img(src=img+"products/product_3.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/') 
						.product
							.product-img
								img.product__img(src=img+"products/product_4.jpg" alt="")
							.product__articul Артикул: <span>03534</span>
							.product__title Artero keratin vital 100ml,концентрированный кондиционер "Жизненный кератин" (Н672)
							.product-price
								.product-price__curr 5455
								.product-price__old 2500
							.product-line
								+button('Купить','button_cart','','','','','cart','')
								+button('Купить в один клик','button_transparent','','/')
			+pagination()
				

		include blocks/footer.pug
		include blocks/scripts.pug